<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-user-secret fa-6x"></i>
    <h1 class="display-3">Confessions</h1>
    <h2 class="display-6">A rendition of the University Confession Pages</h2>
    <p class="lead">Need something off your chest ? Share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg light-button" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg dark-button" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
